@using MangXaHoiWeb.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<BaiVietNguoiDung>
@foreach (var item in Model)
{
    <div class="post-container">
        <div class="post-row">
            <div class="user-profile">
                <img src="~/images/profile/@Html.DisplayFor(modelItem => item.nguoiDung.AnhDaiDien)">
                <div>
                    <p>@item.nguoiDung.TenNguoiDung</p>
                    <span>@item.baiViet.ThoiGianDangBai</span>
                </div>
            </div>
            <a href="#"><i class="fa-solid fa-ellipsis-v"></i></a>
        </div>
        <p class="post-text">@Html.Raw(item.baiViet.NoiDung)</p>
        <img src="~/images/post/@Html.DisplayFor(modelItem => item.baiViet.Anh)" alt="Red dot" class="post-img" />
        <div class="post-row">
            <div class="activity-icons">
                <div><img src="~/assets/images/like-blue.png"> 120</div>
                <div><img src="~/assets/images/comments.png"> 45</div>
                <div><img src="~/assets/images/share.png"> 20</div>
                <div><a asp-controller="Profile" asp-action="EditBaiViet" asp-route-maBaiViet="@item.baiViet.MaBaiViet.ToString().Trim()">Chỉnh sửa</a></div>
                <div><a asp-controller="Profile" asp-action="DeleteBaiViet" asp-route-maBaiViet="@item.baiViet.MaBaiViet.ToString().Trim()">Xóa</a></div>
          
            </div>
            <div class="post-profile-icon">
                <img src="~/assets/images/profile-pic.png"> <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>
    </div>
}

